.thumbnail {
    border-radius: 0;
    background-color: #FFF;
}
.thumbnail:hover {
	-webkit-box-shadow: 0 0 2px #fff;
        box-shadow: 0 0 2px #fff;
}
.modal{
    color: #000;
}
.btn.outline {
	background: none;
    border-radius: 0;
	color: #fff;
    font-weight: bold;
}
.btn.outline:hover {
	background: #fff;
	color: #000;
}
.ongoing
{
    background:  orange;
    border-color: #000; 
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.won
{
    background-color: #01DF01;
    border-color: #000; 
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.lost
{
    background-color: red;
    border-color: #000; 
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tied
{
    background-color: #0174DF;
    border-color: #000; 
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}