#controlbox_text_editor{
	height: 40px;
	border-color: #989B9C;
	border-style: solid;
	border-width: 1px;
}

#wrapper_text_editor_out{
    height:500px;
    width:827px; 
    overflow:auto;
    border:1px;
    border-color: #989B9C;
    border-style: solid;

}
#wrapper_text_editor_in{
    min-height:100%;
    display:table;
}
#text_editor{
    width:827px;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    outline: none;
    display: table-cell;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    word-wrap: break-word;
    overflow:hidden;
    padding: 1%;
}
#control_panel_image{
	top: 10%;
	position: relative;
}
#control_panel_video{
    top: 10%;
    position: relative;
}
#control_panel_hyperlink{
    top: 10%;
    position: relative;
}
#control_panel_numberedlist{
    top: 10%;
    position: relative;
}
#control_panel_unnumberedlist{
    top: 10%;
    position: relative;
}
#control_panel_bold{
    top: 10%;
    position: relative;
}
#control_panel_italic{
    top: 10%;
    position: relative;
}
#control_panel_underline{
    top: 10%;
    position: relative;
}
.post_img{
    max-width:100%;
    max-height:100%;
}
